<!DOCTYPE HTML>
<html>
<head>
    <title>Greetings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/navigationbar.css">
</head>
<body>
    <h1>Welcome please login</h1>

    <br/>
    <br/>
    <ul class="ul-nav-bar">
     <li class="li-nav"><a href="/registeruser">Register</a></li>
     <li class="li-nav"><a href="/user">To User page</a></li>
     <li class="li-nav"><a href="/admin">To Admin Page</a></li>
  </ul>
</body>
</html>
